body {    
    margin:0;
    padding: 10px;
    font-family: "Roboto", sans-serif; }


header {
   
    height: 90px;
    width: 100%;
}
.centre-page {
 background-color:rgb(237, 229, 219);
 padding-top: 1px;
}
/* .text-description {
    text-align: center;
    justify-content: center;
} */

header a {
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

 
.navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin-top: 3px;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 5px;

    
}
.survol {
    margin-left: 5px;
    margin-right: 15px;

}
img { 
    border-radius: 5%;

}
.survol:hover img{
    opacity:0.5;
}
.nav-ul {
    list-style: none;
    padding: 3px;
    margin: 0;
    display: flex;
    height: 50px;
    gap: 50px;
    text-decoration: underline  #a29680;
    
}
.nav-ul a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px ;
    font-size: 15px;
    color: #a29680;
}

.animated-link span {
    display: inline-block;
    background: rgb(254, 254, 254);
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition:
    transform  0.15s ease-out,
    color  0.15s ease-out,
    background-color  0.15s ease-out;
}
.animated-link:hover span{
    background: rgb(237, 229, 219);;
}
h1 {
    color: #a29680;
    text-align: center;
    font-style: italic;
}

article {
    color: rgb(0, 0, 0);
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.details {
    padding-bottom: 10px;
    padding-left: 10px;
}
h3 {
    text-decoration: underline;
}
article p  { 
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 30px;

}


footer { 
    margin-top: 7px;
    margin-left: 2px;;
    height: 100px;
    background-color:rgb(237, 229, 219);
    color: black;
    padding-left: 10px;
    padding-top: 2px;
    }
