body {
   
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: white;
    height: 30px;
}
.centre-de-la-page {
     background-color: rgb(237, 229, 219);
}

.mise-en-forme {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.paragraphe {
    margin-left: 60px;
    margin-right: 60px;
    padding-left: 60px;
    padding-right: 60px;

}

img {
    /* arrondir les bords */
    border-radius: 30px;
    margin: 9px;
}

.bouton {
    text-decoration: none;
    color:  #a29680;
    margin-left: 30px;
    
} 


h2 { 
    text-decoration: underline #a29680;
    color: #a29680;
}

