body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}


img {
    margin: 9px;
    width: 300px;
    height: 300px;
}

.bouton {
    margin-left: 15px;
    background-color: white;
    height: 100px;
    text-decoration: none;
    color:  #a29680;
} 

h2 { 
    text-decoration: underline;
    margin: 10px;
    text-align: center;
    font-size:medium;
}
.titre {
    background-color: rgb(237, 229, 219);
    margin: 20px;
    padding: 3px;
    text-align: center;
    text-decoration: underline;
    color: #a29680;
}

.creation{
    display: grid; place-items: center;
    margin-top: 7px;
    margin-left: 4px;
    margin-right: 4px;
    border: solid 2px #a29680;
    border-radius: 15px;
    width: 45%;
    color:#a29680 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.centre-de-la-page {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 20px;
    background-color: rgb(237, 229, 219);

}
p {
    margin-bottom: 4px;
    margin-left: 7px;
    margin-top: 4px;
}